@model IEnumerable<pathos.Models.Chapter>

<link href="@Url.Content("~/Content/ProjectLists.css")" rel="stylesheet" type="text/css" />

@section Scripts 
{

<script type="text/javascript">
    $(document).ready(function () {
        $("#chapters").tablesorter({
            headers: {
                3: { sorter: false },
                4: { sorter: false },
                5: { sorter: false }
            }
        });
    }
)
</script>
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create", "Create", "Chapter", new { id = ViewBag.ProjectID }, new { id = "create_button" })
</p>
<table id="chapters" class="tablesorter">
    <thead>
    <tr>
        <th>
            <b>Title</b> <img src="@Url.Content("~/Content/images/bg.gif")" />
        </th>
        <th>
            <b>Price</b> <img src="@Url.Content("~/Content/images/bg.gif")" />
        </th>
        <th>
            <b>Last Modified</b> <img src="@Url.Content("~/Content/images/bg.gif")" />
        </th>
        <th></th> <!-- edit -->
        <th></th> <!-- details -->
        <th></th> <!-- delete -->
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            <div id="last_modified">@Html.DisplayFor(modelItem => item.LastModified)</div>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChapterID })
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ChapterID })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ChapterID })
        </td>
    </tr>
}
    </tbody>
</table>


